/* * {
    border: 1px solid red;
} */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-cyan);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
}

h3 {
  color: var(--very-dark-desat-blue);
}

hr {
  position: relative;
  top: -55px;
  border: none;
  color: var(--dark-gray);
  background-color: var(--dark-gray);
  height: 1.5px;
  opacity: 50%;
}

strong {
  color: var(--dark-gray-blue);
  font-weight: 400;
}

footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}

.top-circle,
.bottom-circle {
  position: fixed;
}

.top-circle {
  left: -100px;
  top: -500px;
  z-index: -1;
}

.bottom-circle {
  right: -100px;
  bottom: -500px;
  z-index: -1;
}

.card__container {
  background-color: white;
  width: 400px;
  height: 420px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 19px 78px -24px rgba(8, 76, 104, 0.75);
  -webkit-box-shadow: 0px 19px 78px -24px rgba(8, 76, 104, 0.75);
  -moz-box-shadow: 0px 19px 78px -24px rgba(8, 76, 104, 0.75);
}

.card__background img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.user__photo {
  position: relative;
  top: -55px;
  border-radius: 50px;
  border: 5px solid white;
}

.username__container {
  position: relative;
  top: -60px;
}

.username__name {
  margin-bottom: 0;
}

.username__location {
  margin-top: 5px;
  color: var(--dark-gray-blue);
}

.stats__container {
  display: grid;
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.stats__followers,
.stats__likes,
.stats__photos {
  width: 70px;
  height: 70px;
}

.stats__number {
  margin-bottom: 0;
  margin-top: 15px;
}

.stats__title {
  color: var(--dark-gray-blue);
  font-size: 1rem;
  margin-top: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--very-dark-desat-blue);
}
.attribution a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

:root {
  /* Primary */
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desat-blue: hsl(229, 23%, 23%);
  --dark-gray-blue: hsl(227, 10%, 46%);
  /* Neutral */
  --dark-gray: hsl(0, 0%, 59%);
}
